.layout{width:100%;height:100%;position: relative;overflow:hidden;z-index:10;min-width:1024px;}
.layout a{color:#fff;}
.top_header{width:100%;height:40px;background-color:#242427;position: fixed;top:0;left:0;color: #d7d7d7;z-index:20;min-width:1024px;}
.top_header .company_logo,.top_header .company_logo img{height:40px;}
.top_header .company_logo{vertical-align: inherit;}
.top_header .company_name{height:40px;line-height:40px;vertical-align: top;}
.new_btn{display:inline-block;background:#347cdc;border-radius:4px;color:#fff;height:24px;line-height:24px;padding:0 10px;}
.top_nav{width:700px;height:40px;top:0;position:absolute;left:50%;margin-left:-350px;line-height:40px;}
.top_nav a{display:inline-block;color:#d7d7d7;margin:0 10px;line-height:40px;padding:0 10px;}
.top_nav a.new_btn{height:24px;line-height:24px;color:#fff;}
.top_nav a.current{color:#59a7f9;}
.top_set{width:160px;height:24px;border-left:1px solid #505052;position: relative;top:8px;*margin-top:-40px;}
.ico-bg,.ico-home2,.ico-search{width:22px;height:22px;background-position:-155px -428px;margin-left:20px;}
.ico-home2{background-position:-177px -428px;}
.ico-search{background-position:-199px -427px;}
.top_header .UserImg{position: relative;top:8px;margin-right:10px;}
.top_header .UserImg,.top_header .UserImg img{width:24px;height:24px;}
.autoImg{position:absolute;overflow: hidden;top: 0;left:0;}
.User{*margin-top:-40px;}
.new_search{width:360px;height:40px;padding:0 20px;padding-top:10px;background:#353539;position: absolute;top:-50px;right:0;}
.new_search input{width:77%;border:0;background:#fff;border-radius:3px;height:30px;line-height:normal;}
.new_search .new_btn{height:30px;line-height:30px;position:relative;top:1px;padding:0 20px;}
.bottom_nav{width:380px;height:60px;background:url("../img/mask4.png") repeat;border-radius:5px 5px 0 0;position: fixed;bottom:0;left:50%;margin-left:-190px;}
.bottom_nav a{margin:10px 0 0 20px;float: left;position:relative;}
.bottom_nav .Icon{width:40px;height:40px;background-position:-155px -450px;}
.bottom_nav .ico-b2{background-position:-155px -490px;}
.bottom_nav .ico-b3{background-position:-155px -530px;}
.bottom_nav .ico-b4{background-position:-155px -570px;}
.bottom_nav .ico-b5{background-position:-155px -610px;}
.bottom_nav .ico-b6{background-position:-155px -650px;}
.bottom_nav a span{position:absolute;top:-35px;left:50%;margin-left:-35px;color:#000;width:70px;height:31px;line-height:24px;background:url("../img/a_span.png");display: inline-block;text-align: center;display: none;opacity: 0;}
.new_main{width:1000px;margin:0 auto;min-height:200px;margin-top:90px;color:#fff;}
.top_board{width:800px;margin:0 auto;height:100px;background:url("../img/mask4.png") repeat;border-radius:3px;}
.top_board div{height:80px;width:50%;}
.top_board div.floatleft{width:399px;border-right:1px solid #3f505d;}
.top_board li{display: inline-block;width:80px;margin:5px 20px;}
.top_board li em{font-family: arial;font-size:36px;}
.top_board a,.top_board li em{color:#fff;display:block;}
.top_board li.nodate a,.top_board li.nodate em{color:#b8b9bd;}
.card_out{width:100%;}
.card_box{width:810px;margin-left:90px;}
.card_list li{float: left;width:150px;margin:10px 0 0 10px;height:100px;position:relative;border:1px solid #fff;background:#fff;border-radius:5px;transition:0.5s;color:#333;overflow: hidden;}
.card_list li:hover,.card_list li.current{width:310px;height:210px;transition:0.5s;}
.card_time{position: absolute;right:-1px;left:-1px;bottom:0;height:20px;line-height:20px;border-radius:0 0 5px 5px;padding-left:10px;border-top:1px solid #ccc;}
.card_list li .card_time span{margin:0 5px 0 -65px;transition:0.5s;}
.card_title{height:22px;line-height:22px;padding:0 10px;color:#fff;font-size:12px;border-radius:5px 5px 0 0;transition:0.5s;}
.card_list li:hover .card_title,.card_list li.current .card_title,.card_list li:hover .card_time,.card_list li.current .card_time{height:30px;line-height:30px;font-size:16px;transition:0.5s;}
.card_list li:hover .card_time,.card_list li.current .card_time{font-size:12px;}
.card_list li:hover .card_time span,.card_list li.current .card_time span{margin:0;transition:0.5s;}
.card_theme1 .card_title{background:#5bb259;}
.card_theme2 .card_title{background:#cc4e51;}

/*适配1024屏幕*/
.mini .top_nav a{margin:0 2px;padding:0 5px;}
.mini .ico-bg,.mini .ico-home2,.mini .ico-search{margin-left:10px;}
.mini .top_set{width:110px;padding:0 10px;}
.mini .new_search{width:280px;padding-right:5px;}
.mini .new_search input{width:67%;}

.redius{
	 border-left:10em solid red;
	 border-top:10em solid;
	-webkit-border-top-left-radius:10em;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-topleft:10em;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomleft:0px;
	border-top-left-radius:10em;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	width:0em;
	height:0em;
	padding:0;
	background:#666;
}



































