<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>选择申请表单</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Mutual.js"></script>
    <script type="text/javascript">
        $(function(){

        });
    </script>
</head>
<body>
<!--header begin-->
<div class="header">
    <div class="headerInner clearfix">
        <span class="inlineblock company_logo"></span>
        <span class="inlineblock company_name font16 marl10 color-3">梅花与明道</span>
        <a href="#" class="back_md marl20 color-8">返回明道</a>
        <!--右侧头像和发起按钮 begin-->
        <div class="headerRight floatright clearfix">
            <!--头像 begin-->
            <div class="DropDown clearfix floatleft marr20">
                <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                <div class="floatleft marl10 color-3">
                    <p>欢迎回来</p>
                    <p>刘德华</p>
                </div>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul class="border-33619f bg-347cdc">
                        <li><a href="#"><i class="Icon ico-change"></i>切换账号</a></li>
                        <li><a href="#"><i class="Icon ico-out"></i>退出明道</a></li>
                    </ul>
                </div>
            </div>
            <!--头像 over-->
            <!--plus btn begin-->
            <div class="DropDown clearfix noborder floatright" style="width:auto;">
                <span class="UserImg block"><i class="Icon ico-plus"></i></span>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul class="border-33619f bg-347cdc">
                        <li><a href="#"><i class="Icon ico-launch"></i>发起申请</a></li>
                        <li><a href="#"><i class="Icon ico-creatF"></i>创建表单</a></li>
                        <li><a href="#"><i class="Icon ico-creatU"></i>新建角色</a></li>
                    </ul>
                </div>
            </div>
            <!--plus btn over-->
        </div>
        <!--右侧头像和发起按钮 over-->
    </div>
</div>
<!--header over-->
<div class="content">
    <div class="main form-list border-c clearfix">
        <div class="formTop border-c aligncenter clearfix">
            <a href="#" class="color-347cdc floatleft">&lt; 返回列表</a>
            <span class="font18 marl30 color-3">请选择申请表单</span>
            <div class="search floatright mart10 ie-css3"><!--加 current，显示搜索结果框-->
                <input type="text" placeholder="搜索">
                <button><i class="Icon ico-ser"></i></button>
                <!--搜索结果begin-->
                <div class="ser_Results ie-css3">
                    <ul>
                        <li>所有部门</li>
                        <li>人力资源部</li>
                        <li>行政部门</li>
                        <li>财务部门</li>
                    </ul>
                </div>
                <!--搜索结果over-->
            </div>
        </div>
        <div class="form-main clearfix">
            <!--左侧类目导航begin-->
            <div class="LeftNav border-c floatleft aligncenter color-6">
                <i class="Icon ico-arrow"></i>
                <a href="#" class="current mart45">
                    <i class="Icon ico-Collect"></i>
                    <em>常用表单</em>
                </a>
                <a href="#" class="mart45">
                    <i class="Icon ico-Finance"></i>
                    <em>财务类</em>
                </a>
                <a href="#" class="mart45">
                    <i class="Icon ico-Admin"></i>
                    <em>行政类</em>
                </a>
                <a href="#" class="mart45">
                    <i class="Icon ico-material"></i>
                    <em>物资类</em>
                </a>
                <a href="#" class="mart45">
                    <i class="Icon ico-Other"></i>
                    <em>其他</em>
                </a>
                <a href="#" class="mart45">
                    <i class="Icon ico-Stop"></i>
                    <em>停用表单</em>
                </a>
            </div>
            <!--左侧类目导航over-->
            <!--右侧表单图标begin-->
            <div class="RightM floatleft">
                <ul class="FormIco clearfix">
                    <li class="borderL">
                        <span class="bg bg-1"><i class="Icon ico ico-1"></i></span>
                        <p>资源申请</p>
                        <div class="R-btns">
                            <a href="#" class="Icon ico-Col" title="收藏"></a>
                            <a href="#" class="Icon ico-delete3" title="移除"></a>
                            <a href="#" class="Icon ico-set" title="设置"></a>
                            <a href="#" class="Icon ico-Stop2" title="停用"></a>
                            <a href="#" class="Icon ico-delete2" title="删除"></a>
                        </div>
                    </li>
                    <li>
                        <span class="bg bg-2"><i class="Icon ico ico-2"></i></span>
                        <p>资源申请</p>
                        <div class="R-btns">
                            <a href="#" class="Icon ico-Col2" title="取消收藏"></a>
                            <a href="#" class="Icon ico-delete3" title="移除"></a>
                            <a href="#" class="Icon ico-set" title="设置"></a>
                            <a href="#" class="Icon ico-Stop2" title="停用"></a>
                            <a href="#" class="Icon ico-delete2" title="删除"></a>
                        </div>
                    </li>
                    <li>
                        <span class="bg bg-3"><i class="Icon ico ico-3"></i></span>
                        <p>资源申请</p>
                        <div class="R-btns">
                            <a href="#" class="Icon ico-Col" title="收藏"></a>
                            <a href="#" class="Icon ico-delete3" title="移除"></a>
                            <a href="#" class="Icon ico-set" title="设置"></a>
                            <a href="#" class="Icon ico-Stop2" title="停用"></a>
                            <a href="#" class="Icon ico-delete2" title="删除"></a>
                        </div>
                    </li>
                    <li>
                        <span class="bg bg-4"><i class="Icon ico ico-4"></i></span>
                        <p>资源申请</p>
                        <div class="R-btns">
                            <a href="#" class="Icon ico-Col" title="收藏"></a>
                            <a href="#" class="Icon ico-delete3" title="移除"></a>
                            <a href="#" class="Icon ico-set" title="设置"></a>
                            <a href="#" class="Icon ico-Started" title="启用"></a>
                            <a href="#" class="Icon ico-delete2" title="删除"></a>
                        </div>
                    </li>
                    <li>
                        <span class="bg bg-5"><i class="Icon ico ico-5"></i></span>
                        <p>资源申请</p>
                    </li>
                    <li class="borderL">
                        <span class="bg bg-6"><i class="Icon ico ico-6"></i></span>
                        <p>资源申请</p>
                    </li>
                    <li>
                        <span class="bg bg-4"><i class="Icon ico ico-4"></i></span>
                        <p>资源申请</p>
                    </li>
                    <li>
                        <span class="bg bg-5"><i class="Icon ico ico-5"></i></span>
                        <p>资源申请</p>
                    </li>
                    <li>
                        <span class="bg bg-6"><i class="Icon ico ico-6"></i></span>
                        <p>资源申请</p>
                    </li>
                    <li>
                        <span class="bg bg-4"><i class="Icon ico ico-4"></i></span>
                        <p>资源申请</p>
                    </li>
                    <li class="borderL">
                        <span class="bg bg-5"><i class="Icon ico ico-5"></i></span>
                        <p>资源申请</p>
                    </li>
                    <li>
                        <span class="bg bg-6"><i class="Icon ico ico-6"></i></span>
                        <p>资源申请</p>
                    </li>
                </ul>
            </div>
            <!--右侧表单图标over-->
        </div>
        <!--删除提示弹出begin-->
        <div class="pop" style="width:398px;margin-left: -200px;margin-top:-70px;display:none;">
            <div class="popIn" style="min-height:50px;">
                <span class="off">×</span>
                <p class="font14 mart20 color-6 clearfix">
                    <span class="floatleft"><img src="../img/waring.png" style="margin:20px 30px;"></span>
                    <span class="inlineblock pop_tip_txt p-top20">您确认删除此表单么除此表单么您确认删除此表单么您？</span>
                </p>
                <p class="mart10 alignright">
                    <a href="#" class="Btn btn-make btn-sure">确 定</a>
                    <a href="#" class="Btn btn-make btn-quit marl10">取 消</a>
                </p>
            </div>
        </div>
        <!--删除提示弹出over-->
        <!--操作消息提示框begin-->
        <div class="message" style="display: none;"><p class="font14 color-white">您已成功删除表单,您已成功删除表单！</p></div>
        <!--操作消息提示框over-->
    </div>
</div>
</body>
</html>