<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LA home</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="layout">
    <img src="../img/home_bg2.jpg" class="autoImg">
    <div class="layout">
        <!--header begin-->
        <div class="top_header">
            <span class="inlineblock company_logo"><img src="../img/n_logo.png"></span>
            <span class="inlineblock company_name font14 marl20 color-white">上海万企明道软件有限公司</span>
            <div class="top_nav aligncenter font14">
                <a href="#" class="current">我的</a>
                <a href="#">申请</a>
                <a href="#">审批</a>
                <a href="#">经办</a>
                <a href="#">传阅</a>
                <a href="#" class="new_btn font12 ie-css3">新建申请</a>
            </div>
            <div class="top_set floatright">
                <a href="javascript:;" class="Icon ico-bg"></a>
                <a href="javascript:;" class="Icon ico-home2"></a>
                <a href="javascript:;" class="Icon ico-search"></a>
            </div>
            <div class="User floatright marr20">
                <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                <span>行走江湖</span>
            </div>
        </div>
        <!--header over-->
        <!--底部导航begin-->
        <div class="bottom_nav clearfix">
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b1"></i>
                <span class="block">创建表单</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b2"></i>
                <span class="block">新建角色</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b3"></i>
                <span class="block">表单管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b4"></i>
                <span class="block">角色管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b5"></i>
                <span class="block">流程管理</span>
            </a>
            <a href="javascript:;" class="inlineblock">
                <i class="Icon ico-b6"></i>
                <span class="block">日志</span>
            </a>
        </div>
        <!--底部导航over-->
        <!--搜索begin-->
        <div class="new_search">
            <input type="text" class="int">
            <a href="javascript:;" class="new_btn marl10">搜 索</a>
        </div>
        <!--搜索over-->
        <!--主要内容begin-->
        <div class="new_main">
            <div class="top_board clearfix">
                <div class="floatleft mart10">
                    <p class="marl10">我的申请</p>
                    <ul class="aligncenter">
                        <li><a href="javascript:;"><em>5</em>未通过</a></li>
                        <li class="nodate"><a href="javascript:;"><em>0</em>已通过</a></li>
                        <li><a href="javascript:;"><em>10</em>未读通知</a></li>
                    </ul>
                </div>
                <div class="floatright mart10">
                    <p class="marl10">关于我的</p>
                    <ul class="aligncenter">
                        <li><a href="javascript:;"><em>5</em>待审批</a></li>
                        <li class="nodate"><a href="javascript:;"><em>0</em>待经办</a></li>
                        <li><a href="javascript:;"><em>25</em>待确认</a></li>
                    </ul>
                </div>
            </div>
            <!--卡片组begin-->
            <div class="card_out p-top40">
                <div class="card_box">
                    <ul class="card_list clearfix">
                        <li class=" card_theme2">
                            <div class="card_in">
                                <p class="card_title alignright">
                                    <span class="floatleft">考勤申请</span>
                                    <span>审</span>
                                </p>
                                <p class="card_time"><span>申请日期：</span>2014-12-01 13:34</p>
                            </div>
                        </li>
                        <li class="card_theme1">
                            <div class="card_in">
                                <p class="card_title alignright">
                                    <span class="floatleft">考勤申请</span>
                                    <span>审</span>
                                </p>
                                <p class="card_time"><span>申请日期：</span>2014-12-01 13:34</p>
                            </div>
                        </li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                    </ul>
                </div>
            </div>
            <!--卡片组over-->
        </div>
        <!--主要内容over-->
    </div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/imgauto.js"></script>
<script type="text/javascript" src="../js/Mutual.js"></script>
</body>
</html>