<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>弹出-姓名</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Mutual.js"></script>
</head>
<body class="visible"><!--当出现弹出框时候才加这个visible-->
<div class="mask"></div>
<div class="pop" style=""><!--保持弹出框始终左右，上下居中，那么保持margin-top等于 -1/2height  和margin-left等于  -1/2width -->
    <p class="title">请选择转审人员</p>
    <div class="popIn">
        <span class="off">×</span>
        <!--导航和搜索begin-->
        <div class="TopBar mart10 clearfix">
            <div class="nav floatleft clearfix color-8">
                <em class="borderBt"></em>
                <a href="#" class="current">姓名</a>
                <a href="#">部门</a>
                <a href="#">群</a>
                <a href="#">角色</a>
            </div>
            <div class="search floatright ie-css3"><!--加 current，显示搜索结果框-->
                <input type="text" placeholder="搜索">
                <button><i class="Icon ico-ser"></i></button>
                <!--搜索结果begin-->
                <div class="ser_Results ie-css3">
                    <ul>
                        <li>所有部门</li>
                        <li>人力资源部</li>
                        <li>行政部门</li>
                        <li>财务部门</li>
                    </ul>
                </div>
                <!--搜索结果over-->
            </div>
        </div>
        <!--导航和搜索over-->
        <div class="mart5">
            <!--姓名首字母检索begin-->
            <ul class="CheckWord mart5 clearfix">
                <li class="refresh">所有</li>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>R</li>
                <li>S</li>
                <li class="disabled">T</li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
            </ul>
            <!--姓名首字母检索over-->
        </div>
        <div class="contactOut">
            <!--员工列表begin-->
            <div class="contact mart10">
                <ul class="clearfix contact-list" style="display: ;">
                    <li class="txt_hidden current">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">张睿</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘德华</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘能</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘罗锅</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘德华</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘能</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘罗刘罗锅锅</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘德华</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘能</span>
                        <span>产品设计</span>
                    </li>
                    <li class="txt_hidden">
                        <span class="UserImg inlineblock ie-css3"><img src="../img/1.png"></span>
                        <span class="UserName">刘罗锅</span>
                        <span>产品设计</span>
                    </li>
                </ul>
                <!--搜索无结果时begin-->
                <div class="nodata" style="display: none;">
                    <p>对不起，没有找到“王振佳”！</p>
                    <p>请尝试<a href="#">更新</a>通讯录。</p>
                </div>
                <!--搜索无结果时over-->
                <!--操作消息提示框begin-->
                <div class="message"><p class="font14 color-white">通讯录刷新成功！</p></div>
                <!--操作消息提示框over-->
            </div>
            <!--员工列表over-->
        </div>
        <!--点击选择用户时候这里的dom才展开begin-->
        <div class="choosed mart10">
            <p class="clearfix alignright color-3">
                <span class="floatleft">已选择的人员：</span>
                <span class="color-a">注：您可以添加多个人员</span>
            </p>
            <ul class="choosedlist mart10">
                <li>张睿<a href="#"><i class="Icon ico-delete"></i></a></li>
                <li>王振佳<a href="#"><i class="Icon ico-delete"></i></a></li>
                <li>刘德华<a href="#"><i class="Icon ico-delete"></i></a></li>
                <li>张睿<a href="#"><i class="Icon ico-delete"></i></a></li>
                <li>王振佳<a href="#"><i class="Icon ico-delete"></i></a></li>
                <li>刘德华<a href="#"><i class="Icon ico-delete"></i></a></li>
            </ul>
        </div>
        <!--点击选择用户时候这里的dom才展开over-->
    </div>
    <p class="pop_btn alignright">
        <a href="#" class="Btn btn-make btn-quit">取 消</a>
        <a href="#" class="Btn btn-make btn-sure marl10">确 定</a>
    </p>
</div>
</body>
</html>