<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>推广</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Mutual.js"></script>
</head>
<body>
<!--header begin-->
<div class="header">
    <div class="headerInner clearfix">
        <span class="inlineblock company_logo"><img src="https://img.mingdao.com/ProjectLogo/default.gif"/></span>
        <span class="inlineblock company_name font16 marl20 color-3">梅花与明道</span>
        <!--右侧头像和发起按钮 begin-->
        <div class="headerRight floatright clearfix">
            <!--头像 begin-->
            <div class="DropDown clearfix floatleft marr20">
                <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                <div class="floatleft marl10 color-3">
                    <p>欢迎回来</p>
                    <p>刘德华</p>
                </div>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul class="border-33619f bg-347cdc">
                        <li><a href="#"><i class="Icon ico-change"></i>切换账号</a></li>
                        <li><a href="#"><i class="Icon ico-out"></i>退出明道</a></li>
                    </ul>
                </div>
            </div>
            <!--头像 over-->
            <!--plus btn begin-->
            <div class="DropDown clearfix noborder floatright" style="width:auto;">
                <span class="UserImg block"><i class="Icon ico-plus"></i></span>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul>
                        <li><a href="#">发起申请</a></li>
                        <li><a href="#">创建表单</a></li>
                        <li><a href="#">新建角色</a></li>
                    </ul>
                </div>
            </div>
            <!--plus btn over-->
            <!--切换网络 begin-->
            <div class="DropDown clearfix noborder floatright" style="width:auto;">
                <span class="UserImg block"><i class="Icon ico-home"></i></span>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul>
                        <li><a href="#">切换网络</a></li>
                        <li><a href="#">安全退出</a></li>
                    </ul>
                </div>
            </div>
            <!--切换网络 over-->
        </div>
        <!--右侧头像和发起按钮 over-->
        <span class="back_md marl20 color-8">快捷审批</span>
    </div>
</div>
<!--header over-->
<div class="content">
    <div class="main form-list nobg clearfix process-main">
        <div class="formTop border-c aligncenter clearfix">
            <a href="#" class="color-347cdc floatleft">&lt; 返回</a>
            <span class="font20">应用推广</span>
        </div>
        <div class="Extension noborder">
            <div class="Exten clearfix">
                <div class="Ex_item floatleft">
                    <p class="font20"><i class="Icon ico-e1"></i>推广码</p>
                    <input type="text" class="E_input font30 color-3 mart25" value="12334455" readonly>
                    <p class="font14 mart30  marr50 color-8">这是您专属且唯一的推荐码，您可以将它发送给您的朋友或伙伴，当他们在购买“明道-快捷审批”时输入此推荐码，您就可以有效地跟踪成果，并为您的朋友和您自己获得推荐收益。</p>
                </div>
                <div class="Ex_item noborder-r marl50 floatleft">
                    <p class="font20"><i class="Icon ico-link"></i>推广链接</p>
                    <input type="text" class="E_input font14 color-3 mart25" value="http://tg.mingdao.com/686907" readonly>
                    <p class="font14 mart30 marr50 color-8">这是您专属且唯一的朋友或伙伴，当他们在购买“明道-快捷审批”时输入此推荐码，您就可以有效地跟踪成果，并为您的朋友和您自己获得推荐收益。</p>
                </div>
            </div>
            <p class="line"></p>
            <div class="mart50 marl30">
                <p class="font20"><i class="Icon ico-code"></i>二维码</p>
                <div class="mart30 marl50 clearfix">
                    <span class="block marr30 floatleft"><img src="../img/code.jpg"></span>
                    <p class="font16">下载：<a href="#" class="add">430px*430px</a><a href="#" class="add">256px*256px</a><a href="#" class="add">128px*128px</a><a href="#" class="add">64px*64px</a></p>
                    <p class="font14 mart50  marr50 color-8">这是您专属且唯一的推荐码，您可以将当他们在购买“明道-快捷审批”时输入此推荐码，您就可以有效地跟踪成果，并为您的朋友和您自己获得推荐收益。</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--footer begin-->
<div class="footer">
    <p>明道使用UCLOUD云计算服务 ，Geotrust加密传输和符合业界规范的运维保障。</p>
    <p><a href="#">明道实时服务状态</a>Designed in Shanghai, Assembled by YOU</p>
</div>
<!--footer over-->
</body>
</html>