<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订购信息</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Mutual.js"></script>
</head>
<body>
<!--header begin-->
<div class="header">
    <div class="headerInner clearfix">
        <span class="inlineblock company_logo"><img src="https://img.mingdao.com/ProjectLogo/default.gif"/></span>
        <span class="inlineblock company_name font16 marl20 color-3">梅花与明道</span>
        <!--右侧头像和发起按钮 begin-->
        <div class="headerRight floatright clearfix">
            <!--头像 begin-->
            <div class="DropDown clearfix floatleft marr20">
                <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                <div class="floatleft marl10 color-3">
                    <p>欢迎回来</p>
                    <p>刘德华</p>
                </div>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul class="border-33619f bg-347cdc">
                        <li><a href="#"><i class="Icon ico-change"></i>切换账号</a></li>
                        <li><a href="#"><i class="Icon ico-out"></i>退出明道</a></li>
                    </ul>
                </div>
            </div>
            <!--头像 over-->
            <!--plus btn begin-->
            <div class="DropDown clearfix noborder floatright" style="width:auto;">
                <span class="UserImg block"><i class="Icon ico-plus"></i></span>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul>
                        <li><a href="#">发起申请</a></li>
                        <li><a href="#">创建表单</a></li>
                        <li><a href="#">新建角色</a></li>
                    </ul>
                </div>
            </div>
            <!--plus btn over-->
            <!--切换网络 begin-->
            <div class="DropDown clearfix noborder floatright" style="width:auto;">
                <span class="UserImg block"><i class="Icon ico-home"></i></span>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul>
                        <li><a href="#">切换网络</a></li>
                        <li><a href="#">安全退出</a></li>
                    </ul>
                </div>
            </div>
            <!--切换网络 over-->
        </div>
        <!--右侧头像和发起按钮 over-->
        <span class="back_md marl20 color-8">快捷审批</span>
    </div>
</div>
<!--header over-->
<!--主体begin-->
<div class="content">
    <div class="main clearfix">
        <!--左侧菜单 begin-->
        <div class="LeftBar floatleft">
            <ul class="font16 color-8 mart20">
                <li><a href="#"><i class="Icon ico-01"></i>申 请<em class="prompt ie-css3">3</em></a></li>
                <li><a href="#"><i class="Icon ico-02"></i>审 批<em class="prompt ie-css3">3</em></a></li>
                <li><a href="#"><i class="Icon ico-03"></i>经 办<em class="prompt ie-css3">3</em></a></li>
                <li><a href="#"><i class="Icon ico-04"></i>设 置<em class="prompt ie-css3">13</em></a></li>
                <li><a href="#"><i class="Icon ico-05"></i>管 理<em class="prompt ie-css3">13</em></a></li>
                <li class="current"><a href="#"><i class="Icon ico-06"></i>订购信息<em class="prompt ie-css3">13</em></a></li>
            </ul>
        </div>
        <!--左侧菜单 over-->
        <!--右侧begin-->
        <div class="rightBar floatleft">
            <div class="rightIn">
                <div class="order_main">
                    <p class="font20">订购信息</p>
                    <p class="font14 mart30">您于2014年11月2日，订购了3个月本产品。使用日期截止到2015年2月2日。产品价格：999 元。</p>
                    <p class="font16 mart20 add">剩余使用天数：<em class="color font16">10</em>天</p>
                    <p class="mart30"><a href="#" class="renew"></a></p>
                    <p class="line line-c p-top10"></p>
                    <p class="font20 mart30">历史记录</p>
                    <table class="account_tab mart20">
                        <tr>
                            <th>起止日期：</th>
                            <td>
                                <div class="floatleft">
                                    <input class="int font14 width-120" readonly value="2014.07.12">
                                    <em>&nbsp;-&nbsp;</em>
                                    <input class="int font14 width-120" readonly value="2014.08.12">
                                </div>
                                <ul class="tab_nav floatleft marl20 mart3 clearfix">
                                    <li class="current"><a href="javascript:;">筛选</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="height:300px;">
                        <table class="account_de mart20">
                            <thead>
                                <tr>
                                    <th>订购人数（人）</th>
                                    <th>订购时长（月）</th>
                                    <th>起始时间</th>
                                    <th>到期时间</th>
                                    <th>产品价格（元）</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>100-200</td>
                                    <td>3</td>
                                    <td>2014-10-31</td>
                                    <td>2015-10-31</td>
                                    <td>999.0</td>
                                </tr>
                                <tr>
                                    <td>100-200</td>
                                    <td>3</td>
                                    <td>2014-10-31</td>
                                    <td>2015-10-31</td>
                                    <td>999.0</td>
                                </tr>
                                <tr>
                                    <td>100-200</td>
                                    <td>3</td>
                                    <td>2014-10-31</td>
                                    <td>2015-10-31</td>
                                    <td>999.0</td>
                                </tr>
                                <tr>
                                    <td>100-200</td>
                                    <td>3</td>
                                    <td>2014-10-31</td>
                                    <td>2015-10-31</td>
                                    <td>999.0</td>
                                </tr>
                                <tr>
                                    <td>100-200</td>
                                    <td>3</td>
                                    <td>2014-10-31</td>
                                    <td>2015-10-31</td>
                                    <td>999.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--分页器begin-->
                    <div class="pagenation aligncenter mart30 p-bt20">
                        <a href="javascript:;" class="page prev">&lt;</a>
                        <a href="#" class="current">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <span>......</span>
                        <a href="#" class="disabled">7</a>
                        <a href="#" class="disabled">8</a>
                        <a href="#" class="disabled">9</a>
                        <a href="#" class="disabled">100</a>
                        <a href="javascript:;" class="page next">&gt;</a>
                    </div>
                    <!--分页器over-->
                </div>
            </div>
        </div>
        <!--右侧over-->
    </div>
</div>
<!--主体over-->
<!--footer begin-->
<div class="footer">
    <p>明道使用UCLOUD云计算服务 ，Geotrust加密传输和符合业界规范的运维保障。</p>
    <p><a href="#">明道实时服务状态</a>Designed in Shanghai, Assembled by YOU</p>
</div>
<!--footer over-->
</body>
</html>