<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订购试用</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/appstyle.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Mutual.js"></script>
</head>
<body>
<!--header begin-->
<div class="header">
    <div class="headerInner clearfix">
        <span class="inlineblock company_logo"><img src="https://img.mingdao.com/ProjectLogo/default.gif"/></span>
        <span class="inlineblock company_name font16 marl20 color-3">梅花与明道</span>
        <!--右侧头像和发起按钮 begin-->
        <div class="headerRight floatright clearfix">
            <!--头像 begin-->
            <div class="DropDown clearfix floatleft marr20">
                <span class="UserImg block floatleft ie-css3"><img src="../img/1.png"></span>
                <div class="floatleft marl10 color-3">
                    <p>欢迎回来</p>
                    <p>刘德华</p>
                </div>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul class="border-33619f bg-347cdc">
                        <li><a href="#"><i class="Icon ico-change"></i>切换账号</a></li>
                        <li><a href="#"><i class="Icon ico-out"></i>退出明道</a></li>
                    </ul>
                </div>
            </div>
            <!--头像 over-->
            <!--plus btn begin-->
            <div class="DropDown clearfix noborder floatright" style="width:auto;">
                <span class="UserImg block"><i class="Icon ico-plus"></i></span>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul>
                        <li><a href="#">发起申请</a></li>
                        <li><a href="#">创建表单</a></li>
                        <li><a href="#">新建角色</a></li>
                    </ul>
                </div>
            </div>
            <!--plus btn over-->
            <!--切换网络 begin-->
            <div class="DropDown clearfix noborder floatright" style="width:auto;">
                <span class="UserImg block"><i class="Icon ico-home"></i></span>
                <div class="DropList">
                    <i class="Icon ico-arrow"></i>
                    <ul>
                        <li><a href="#">切换网络</a></li>
                        <li><a href="#">安全退出</a></li>
                    </ul>
                </div>
            </div>
            <!--切换网络 over-->
        </div>
        <!--右侧头像和发起按钮 over-->
        <span class="back_md marl20 color-8">快捷审批</span>
    </div>
</div>
<!--header over-->
<!--主体begin-->
<div class="content">
    <div class="main clearfix">
        <p class="aligncenter p-top40"><img src="../img/logo.png"/></p>
        <p class="aligncenter font20 mart20 marl10">欢迎来到快捷审批！</p>
        <p class="aligncenter color-6 mart30 font14">快捷审批是企业内部的快速审批工具。方便友好的操作流程，帮助员工快速完成公司内部的流程审批工作。</p>
        <p class="aligncenter color-6 mart10 font14">常用表单和自定义表单组合，满足绝大多数企业的需求。</p>
        <p class="line line-c p-top20"></p>
        <p class="aligncenter font20 mart50">定价信息</p>
        <p class="aligncenter mart50">5人及以下99元/月； 26-50人199元/月； 51-100人299元/月 ； <span class="font14 add">101-250人399元/月</span>； 251-500人499元/月 ； 500人以上999元/月 ；</p>
        <p class="aligncenter mart20">不限自定义表单数量，每月根据实际的明道高级模式用户数收取</p>
        <p class="line line-c p-top20"></p>
        <!--切换begin-->
        <div class="choose_main">
            <ul class="aligncenter clearfix font18">
                <li name="1" class="add">免费试用</li>
                <li name="2">订购开通</li>
            </ul>
            <div class="choose_one" style="display: ;">
                <table class="de_table">
                    <tr>
                        <th>试用时长：</th>
                        <td>30天</td>
                    </tr>
                    <tr>
                        <th>起始时间：</th>
                        <td>2014-11-3</td>
                    </tr>
                    <tr>
                        <th>截止日期：</th>
                        <td>2014-11-3</td>
                    </tr>
                    <tr>
                        <th>开放功能：</th>
                        <td>在试用期间，您能享受快捷审批的全部功能，我们将不收取任何额外费用。</td>
                    </tr>
                </table>
                <p class="aligncenter mart20"><a href="#" class="free_use"></a></p>
            </div>
            <div class="choose_two" style="display: block;">
                <table class="de_table">
                    <tr>
                        <th>请选择您的订购时长：</th>
                        <td>
                            <div class="time_choose font16 aligncenter">
                                <a href="javascript:;">-</a>
                                <input type="number" value="">
                                <a href="javascript:;">+</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>起始时间：</th>
                        <td>30天</td>
                    </tr>
                    <tr>
                        <th>截止日期：</th>
                        <td>2014-11-3</td>
                    </tr>
                    <tr>
                        <th>公司人数：</th>
                        <td>101-150人</td>
                    </tr>
                    <tr>
                        <th>收费价格：</th>
                        <td>399元</td>
                    </tr>
                </table>
                <p class="aligncenter mart10"><a href="#" class="now_buy"></a></p>
            </div>
        </div>
        <!--切换over-->
    </div>
</div>
<!--主体over-->
</body>
</html>